.menu_cart{
    position: absolute;
    width: 350px;
    z-index: 11;
    border-radius: 8px;
    box-shadow: 0 0 2px 3px rgb(0,0,0,.5);
    padding: 25px  ;
    top: 95px;
    right:100px;
    transition: transform .5s ease;
    transform: scale(1);
    background-color: white;

}

.cart_title::after{
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    margin-top: 15px;
    background-color: hsl(223, 64%, 98%);
}

.checkout{
    display: block;
    margin-top: 40px;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    text-align: center;

    color: white;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 8px;
}
.mensaje{
    height: 150px;
    text-align: center;
    line-height: 150px;
}
@media screen and (max-width:800px){
    .menu_cart{
        width: 70%;
        
        
    }
}